.ui {

  font-family: "OpenSans";
  color: "#695b54";

  background: url('../images/Interface_Fond.png');
  background-position:center;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.comment{
  position: absolute;
  top: 1%;
  left: 5%;
  right: 0;
  bottom: 0;
}
.comment input{
  font-family: "VistaSans";
  font-size: 50px;
  border-style: none;
  width: 400px;
  height: auto;
}

.btnStartStop {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.startStopGroup {
  position: absolute;
  width: 60px;
  height: 34px;
  top: 5%;
  left: 85%;
  right: 0;
  bottom: 0;
}

.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button {
  background-color: white;*/

  padding: 5px;
  border: 0px solid #FFFFFF;

  color: black;
  /* Light Blue */
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;

}
.gomettes {
  width:93px;
  height:102px;
  margin-left: 20px;
  margin-right: 20px;
}
.gomette1 {
  background: url('../images/Gommettes/AvecOmbre/08.png');
  background-size: 70px 76px;
  background-position:center;
  background-repeat: no-repeat;
}
.gomette2 {
  background: url('../images/Gommettes/AvecOmbre/09.png');
  background-size: 70px 76px;
  background-position:center;
  background-repeat: no-repeat;
}
.gomette3 {
  background: url('../images/Gommettes/AvecOmbre/10.png');
  background-size: 70px 76px;
  background-position:center;
  background-repeat: no-repeat;
}
.gomette4 {
  background: url('../images/Gommettes/AvecOmbre/11.png');
  background-size: 70px 76px;
  background-position:center;
  background-repeat: no-repeat;
}
.gomette5 {
  background: url('../images/Gommettes/AvecOmbre/12.png');
  background-size: 70px 76px;
  background-position:center;
  background-repeat: no-repeat;
}
.gomette6 {
  background: url('../images/Gommettes/AvecOmbre/30.png');
  background-size: 70px 76px;
  background-position:center;
  background-repeat: no-repeat;
}

.button:hover {
  background-color: #008CBA;
  /* Light Blue */
  color: white;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.bottom{
  background-image: url('../images/menu-toggle-bas-full-51.png');
  background-position:center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;


}
.colorGroup {
  /* background-image: url('../images/menu-toggle-bas-full-51.png'); */

  float: left;

  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0; */

}

.symbolGroup {
  float: left;

  position: fixed;
  top: 90%;
  left: 2%;
  right: 0;
  bottom: 0;
}
