@font-face {
    font-family: 'VistaSanMed';
    src: url(../fonts/VistaSans/VistaSanMed.ttf);
}

@font-face {
    font-family: 'OpenSan';
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}


.content {
    visibility:hidden;
}

#title {
    padding: 15px 15px;
    color: #1FB570;
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    font-family: "VistaSanMed";
    display: inline-flex;
}

/*---------------------------------------*/

#menu {
    display: flex;
    height: 140px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
}

/*----*/

#left-menu {
}

.comment_cell {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.label_input {
    padding-left: 10px;
    font-size: 18px;
    font-family: "OpenSan";
}

.comment {
    margin-left: 5px;
    margin-right: 2px;
    width: 25em;
}

.validation_button {
    font-size: 18px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius:6px;
}

/*----*/

#right_menu {
}

#edit_segment_cell {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#edit_gommette_cell {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


/*---------------------------------------*/

#forms {
    display:flex;
    padding-top:15px;
    justify-content: center
}

/*----*/

#listen_form {
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.choice_label {
    display:flex;
    justify-content: center;
}

.choice {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}

/*----*/

#edit_form {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
}


/*---------------------------------------*/

.button {
  background-color: #5FFFCD;
  cursor: pointer;
  color: #695B54;
  font-family: "VistaSanMed";
  text-align: center
}

.button:not(.validation_button) {
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
}

.listening_button, .edition_button {
    margin-left: 5px;
    margin-right: 5px;
}

.button_edit_segments, .button_edit_gommettes {
    margin-right:12px;
    margin-left:-7px;
}

.speed_button {
    width: 2ch;
}

.text_indication {
    background-color: transparent;
    font-family: "VistaSanMed";
    font-size: 20px;
    color: #695B54;
    text-align: center;
    width: 7ch;
    margin-left: 5px;
    margin-right: 5px;
}

.selected {
    color: #EA696A;
}

.disabled {
    background-color: #d7fff2;
    opacity: 0.5
}