@font-face {
    font-family: 'OpenSanMed';
    src: url('/fonts/VistaSans/VistaSanMed.ttf') format('ttf');
}

#title {
    padding: 15px 15px;
    color: #1FB570;
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    font-family: OpenSanMed;
    display: inline-block;
    margin-bottom: 140px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
    transform: translate(10px, 6px);
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
    border: 4px solid #F72940;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: -2px;
    top: -4px;
    background-color: #F72940;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #FFA9AB;
}

input:focus+.slider {
    box-shadow: 0 0 1px #FFA9AB;
}

input:checked+.slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.button_check {
    color: #695B54;
    font-size: 25px;
    margin: 15px;
}

.checker_list {
    text-align: right;
    list-style-position: inside;
    list-style: none;
    display: table;
    margin-right: 20px;
}