.ui {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button {
  background-color: white;*/

  padding: 5px;
  border: 0px solid #FFFFFF;

  color: black;
  /* Light Blue */
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;

}
.gomettes {
  width:120px;
  height:102px;
  margin-left: 20px;
  margin-right: 20px;
}
.gomette1 {
  background: url('../images/Gommettes/08.png');
  background-repeat: no-repeat;
}
.gomette2 {
  background: url('../images/Gommettes/09.png');
    background-repeat: no-repeat;
}
.gomette3 {
  background: url('../images/Gommettes/10.png');
    background-repeat: no-repeat;
}
.gomette4 {
  background: url('../images/Gommettes/11.png');
    background-repeat: no-repeat;
}
.gomette5 {
  background: url('../images/Gommettes/12.png');
    background-repeat: no-repeat;
}
.gomette6 {
  background: url('../images/Gommettes/30.png');
    background-repeat: no-repeat;
}

.button:hover {
  background-color: #008CBA;
  /* Light Blue */
  color: white;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.startStopGroup {
  position: fixed;
  top: 60%;
  left: 2%;
  right: 0;
  bottom: 0;
}

.colorGroup {
  float: left;

  position: fixed;
  top: 70%;
  left: 10%;
  right: 0;
  bottom: 0;
}

.symbolGroup {
  float: left;

  position: fixed;
  top: 90%;
  left: 2%;
  right: 0;
  bottom: 0;
}
